body{
    background-color: rgb(255, 6, 147);
    font-family: Bai Jamjuree;
}

#conteiner {
    display: flex;
}

.cartao {
margin: 1rem 1rem;
background-color: rgb(240, 38, 55);
height: 20rem;
flex-grow: 1;
flex-basis: calc(33% - 6rem);
}

footer{
background-color: rgb(247, 139, 168);
color: beige;
position: fixed;
bottom: 0;
width: 100%;
height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}